<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weerstation - Jannes Carpentier</title>
  <link rel="stylesheet" href="/static/css/screen.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
</head>
<body>
<div class="c-header">
  <div class="o-container">
    <div class="o-layout">
      <div class="o-layout__item u-1-of-2">
        <p class="c-header__title">
          <a href="/">Weerstation</a>
        </p>
      </div>
      <div class="o-layout__item u-1-of-2">
        <p class="c-header__nav o-layout o-layout--gutter-lg u-text-align-center">
            <a class="o-layout__item u-1-of-2" href="/">Homepage</a>
          <a class="o-layout__item u-1-of-2" href="/chart">Historiek</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% block body %}

{% endblock %}
</body>
</html>